<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Twitter standalone</title>
    </head>
    <body>
    <div class="container">
        {{ content() }}
      </div>
    </body>
</html>
